LLM_PROVIDER=openai_compatible

OPENAI_COMPATIBLE_API_KEY=replace_with_your_openai_compatible_api_key
OPENAI_COMPATIBLE_BASE_URL=replace_with_your_openai_compatible_base_url
OPENAI_COMPATIBLE_MODEL=replace_with_model_id_available

MCP_SERVER_HOST=localhost
MCP_SERVER_PORT=8000

